.item, .GardenCarousel {
    width: 100%;
    height: 800px;
    // background-color:yellow;
    font-family: 'Comic Sans MS';
    font-size: larger;
}

#SquirrelTourTitle {
    margin: auto;
    text-align: center;
    background: radial-gradient( lightyellow,white, lightgreen);
    height: 800px;
    color: darkgreen;
}

    #SquirrelTourTitle h1 {
        font-family: 'Comic Sans MS';
        padding-top: 250px;
    }

    #SquirrelTourTitle h3, #SquirrelTour p {
        margin: 50px;
        font-family: 'Comic Sans MS';
    }

#SquirrelTour img {
    margin: 10px;
}

#sqWedPic {
    width: 269px;
}

#test {
    // background-color:yellow;
    //background:linear-gradient(to right, yellow,white,blue);
    /*background:radial-gradient( yellow,white,blue,green);
  width:100%;
  height:100px;*/
}

#cardoon {
    // background:radial-gradient( lightyellow,white, lightgreen);
    background: -webkit-radial-gradient(60% 55%, closest-side, lightyellow, white, lightgreen); /* Safari 5.1 to 6.0 */
    background: -moz-radial-gradient(60% 55%, closest-side,  lightyellow, white, lightgreen); /* For Firefox 3.6 to 15 */
    background: radial-gradient(closest-side at 60% 55%, lightyellow, white, lightgreen);
}

    #cardoon h2 {
        font-family: 'Comic Sans MS';
        margin-left: 100px;
        color: darkgreen;
        padding-top: 250px;
    }

    #cardoon figure {
        width: 341px;
        padding-top: 100px;
        margin-left: 50px;
    }

    #cardoon p {
        width:450px;         
    }

#cardoon p::first-letter {
           font-size:x-large;
     } 

    #EasyAccess { 
    background: -webkit-radial-gradient(closest-side at 25% 50%, lightyellow 75%,   lightgreen);
    background: -moz-radial-gradient(closest-side at 25% 50%, lightyellow 75%,   lightgreen);
    background: radial-gradient(closest-side at 25% 50%, lightyellow 75%,   lightgreen);
    margin:0;
    padding:0; 
    font-family: 'Comic Sans MS';
    } 
     #EasyAccess p::first-letter {
           font-size:x-large;
     } 
  #EasyAccess figure,#EasyAccess img {
      margin:0;
      padding:0;
  }
  #EasyAccess h2 {
      text-align:center; 
      margin-top:110px;
       font-family: 'Comic Sans MS';
  } 
  #EasyAccess p {
      margin-top:45px;
      text-align:center;
      width:475px;
      margin-left:150px;
  }
  #Foxglove figure {
      width:213px;
      margin:auto;
  }
  #Foxglove div[class^="col"] {
      background-color:purple;
  }