div[id="home"] h1 {
    color: green;
    margin-left: 20px;
}

#ZutsNote {
    border: 20px solid grey;
    width: 400px;
    padding: 10px;
    font-family: 'Comic Sans MS';
    font-size: smaller;
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
    background-color: palegoldenrod;
    margin-left: 220px;
    z-index: 100;
}

div#home div[class="col-md-5"] p {
    font-family: 'Lucida Calligraphy';
}
/* 
    Squirrel's Tour of the General, general stuff

*/
.carousel-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#ZutsGardenCarousel {
    height: 712px;
    overflow: hidden;
}

.item, .GardenCarousel {
    width: 100%;
    background-color: lightgreen;
    font-family: 'Comic Sans MS';
    font-size: larger;
    height: 712px;
}

@media only screen and (max-width:767px) {
    #SquirrelTour h2, .item, .GardenCarousel {
        font-size: medium;
    }
}

@media (orientation:landscape) and (max-height:767px) {
    #SquirrelTour p, #SquirrelTour h2 {
        margin: 5px;
    }
}

@media (orientation:portrait) and (max-width:464px) {
    #SquirrelTour p, #SquirrelTour h2 {
        margin: 5px;
    }

    h2, .item, .GardenCarousel {
        font-size: small; 
    }
}

#SquirrelTour h1 {
    font-family: 'Comic Sans MS';
}

#SquirrelTour h2 {
    font-family: 'Comic Sans MS';
    font-size: 1.5em;
    color: white;
    text-align: center;
}

#SquirrelTour img {
    overflow: hidden;
    box-shadow: none;
}

#SquirrelTour p, #SquirrelTour h3 {
    font-family: 'Comic Sans MS';
    font-size: 1.17em;
}

    #SquirrelTour p:first-letter {
        font-size: larger;
        font-weight: 700;
    }
/* 
 ******** Squirrel Tour Title Tab ******
*/


#SquirrelTourTitle {
    text-align: center;
    background: -webkit-radial-gradient(lightyellow 50%, lightgreen, green);
    background: radial-gradient(lightyellow 50%, lightgreen, green);
    margin: 0;
    padding: 0;
}

    #SquirrelTourTitle figure {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 181px;
        -webkit-animation: squirrelTitle 5s ease-in-out 0s infinite;
        animation: squirrelTitle 5s ease-in-out 0s infinite;
    }

    #SquirrelTourTitle h2 {
        color: green;
        margin: 25px;
        margin-top: 75px;
    }


    #SquirrelTourTitle h1 {
        color: green;
        padding-top: 150px;
    }

    #SquirrelTourTitle h2:last-of-type {
        -o-animation: squirrelteeter 5s ease-in-out 0s infinite;
        -webkit-animation: squirrelteeter 5s ease-in-out 0s infinite;
        animation: squirrelteeter 5s ease-in-out 0s infinite;
    }


@-webkit-keyframes squirrelteeter {
    0%,100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(2deg);
    }

    75% {
        transform: rotate(-2deg);
    }
}

@-o-keyframes squirrelteeter {
    0%,100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(2deg);
    }

    75% {
        transform: rotate(-2deg);
    }
}

@-moz-keyframes squirrelteeter {
    0%,100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(2deg);
    }

    75% {
        transform: rotate(-2deg);
    }
}

@keyframes squirrelteeter {
    0%,100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(2deg);
    }

    75% {
        transform: rotate(-2deg);
    }
}

@-webkit-keyframes squirrelTitle {
    0%,100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@-o-keyframes squirrelTitle {
    0%,100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@-moz-keyframes squirrelTitle {
    0%,100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

/*@-ms-keyframes squirrelTitle {
    0%,100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}*/

@keyframes squirrelTitle {
    0%,100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}
/*
  *********  Cardoon Tab *********
*/
/* cardoon general */
#cardoon p::first-letter {
    font-size: x-large;
}

#cardoon h2 {
    -webkit-animation: cardoon 5s 1s infinite;
    animation: cardoon 5s 1s infinite;
}

@media (max-width:767px) {
    #cardoon {
        overflow: scroll;
    }

        #cardoon h2 {
            text-align: center;
            color: darkgreen;
            padding-top: 20px;
        }

        #cardoon .ClipArtSquirrel {
            display: none;
        }

        #cardoon p {
            margin: 5px;
            padding: 5px;
        }

            #cardoon p:last-child {
                margin-bottom: 20px;
            }
}

@media (min-width:768px) and (max-width:978px) {
    #cardoon {
        background: radial-gradient(closest-side at 75% 50%, lightyellow, white, lightgreen);
    }

        #cardoon .ClipArtSquirrel {
            position: absolute;
            top: 5px;
            right: 20px;
            width: 181px;
            overflow: hidden;
            -webkit-animation: squirrelTitle 5s ease-in-out 2s infinite;
            -moz-animation: squirrelTitle 5s ease-in-out 2s infinite;
            -o-animation: squirrelTitle 5s ease-in-out 2s infinite;
            animation: squirrelTitle 5s ease-in-out 2s infinite;
        }

        #cardoon p {
            padding-left: 40px;
            padding-right: 40px;
        }

            #cardoon p:first-of-type {
                margin-top: 180px;
            }
}



@media (min-width:979px) { 
        #cardoon h2 {
            color: darkgreen;
            padding-top: 100px;
            -webkit-animation: cardoon 5s 1s infinite;
            animation: cardoon 5s 1s infinite;
        }

        #cardoon p {
            width:60%;
            margin:auto;
        }

        #cardoon p:first-of-type {
            margin-top: 180px;
        }

    #cardoon div[class="col-sm-5"] {
        margin-right: 0;
        padding-right: 0;
    }

        #cardoon div[class="col-sm-7"] { 
            text-align: center;
            height:800px;
             
             background: radial-gradient(  lightyellow, white, lightgreen); 
        }

            #cardoon div[class="col-md-7"] p {
                width: 500px;
                text-align: center;
            }

        #cardoon .ClipArtSquirrel {
            position: absolute;
            top: 5px;
            right: 20px;
            width: 181px;
            overflow: hidden;
            -webkit-animation: squirrelTitle 5s ease-in-out 2s infinite;
            -moz-animation: squirrelTitle 5s ease-in-out 2s infinite;
            -o-animation: squirrelTitle 5s ease-in-out 2s infinite;
            animation: squirrelTitle 5s ease-in-out 2s infinite;
        }
         
}

@-moz-keyframes cardoon {
    0%,100% {
        color: darkgreen;
    }

    50% {
        color: mediumpurple;
    }
}

@-webkit-keyframes cardoon {
    0%,100% {
        color: darkgreen;
    }

    50% {
        color: mediumpurple;
    }
}

@keyframes cardoon {
    0%,100% {
        color: darkgreen;
    }

    50% {
        color: mediumpurple;
    }
}
/*
 ***   Easy Access Tab ************************
*/
#EasyAccess p::first-letter {
    font-size: x-large;
}



@media (max-width:978px) {
    #EasyAccess {
        overflow: scroll;
    }
}


@media (min-width:979px) {
    #EasyAccess {
        background: -webkit-radial-gradient(closest-side at 25% 50%, lightyellow 75%, lightgreen);
        background: -moz-radial-gradient(closest-side at 25% 50%, lightyellow 75%, lightgreen);
        background: radial-gradient(closest-side at 25% 50%, lightyellow 80%, lightgreen);
        margin: 0;
        padding: 0;
    }

        #EasyAccess figure, #EasyAccess img {
            margin: 0;
            padding: 0;
            background-image: url('../Images/Gardens/SquirrelGardenTour/ClipArtSquirrel.png');
        }



        #EasyAccess p {
            margin: auto;
            margin-top: 50px;
            text-align: center;
            width: 500px;
        }
}

#Foxglove p {
    margin-top: 45px;
    text-align: center;
    width: 475px;
    margin-left: 150px;
}

#Foxglove figure {
    width: 213px;
    margin: auto;
    margin-top: 195px;
}

#Foxglove div[class^="col"] {
    background: -webkit-radial-gradient(closest-side at 50% 50%, lightyellow 75%, lightgreen);
    background: -moz-radial-gradient(closest-side at 50% 50%, lightyellow 75%, lightgreen);
    background: radial-gradient(closest-side at 50% 50%, lightyellow 75%, lightgreen);
    height: 800px;
}

#Foxglove h2 {
    text-align: center;
    margin-top: 110px;
    font-family: 'Comic Sans MS';
    color: purple;
    animation: foxgloveh2 5s 1s infinite;
}

#Foxglove div[class="row"] > figure {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 181px;
    -webkit-animation: squirrelTitle 5s ease-in-out 0s infinite;
    animation: squirrelTitle 5s ease-in-out 0s infinite;
}

@keyframes foxgloveh2 {
    0%,100% {
        color: darkgreen;
    }

    50% {
        color: purple;
    }
}

#GrapeArbor {
    background: -webkit-radial-gradient(closest-side at 50% 50%, lightyellow 75%, lightgreen);
    background: radial-gradient(closest-side at 50% 50%, lightyellow 75%, lightgreen);
    height: 800px;
}

    #GrapeArbor figure {
        margin-top: 0;
    }

    #GrapeArbor h2 {
        text-align: center;
        font-family: 'Comic Sans MS';
        margin-top: 30px;
    }

    #GrapeArbor p {
        margin-top: 30px;
        margin-left: 10px;
        margin-right: 20px;
    }


#BigKitchenGardens div[class="col-md-4"] {
    height: 800px;
    background: radial-gradient( lightyellow 40%, lightgreen);
}



#BigKitchenGardens p {
    width: 250px;
    color: green;
    margin: auto;
    margin-top: 20px;
}

#BigKitchenGardens h2 {
    margin: auto;
    margin-top: 200px;
    color: green;
}

#BigKitchenGardens figure {
    margin-top: 0px;
    margin-left: 0px;
    padding: 0;
}

#BigKitchenGardens div[class="row"] > figure:first-of-type {
    position: absolute;
    bottom: 10px;
    left: 40px;
    width: 181px;
    opacity:0;
    -webkit-animation: appearing 5s ease-in-out 0s 1 reverse;
    animation: appearing 5s ease-in-out 0s 1 reverse;
}

#BigKitchenGardens div[class="row"] > figure:last-child {
    position: absolute;
    top: 10px;
    left: 100px;
    width: 112px;
    opacity:0;
    -webkit-animation: appearing 3s ease-in-out 0s 1;
    animation: appearing 5s ease-in-out 0s 1;
    transform: rotate(90deg);
}

@keyframes appearing {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/*
 ********  LemWeddingAisle **************
*/
#LemWeddingAisle #ZutsNote {
    border: 20px solid grey;
    width: 500px;
    padding: 10px;
    font-family: 'Comic Sans MS';
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    background-color: palegoldenrod;
    margin-left: 170px;
    margin-top: 10px;
    z-index: 100;
}

    #LemWeddingAisle #ZutsNote p {
        margin-top: 5px;
    }
 

    #LemWeddingAisle div[class="col-md-5"] p {
        margin:10px;
    }

    #LemWeddingAisle h2  {
        color: green; 
        text-align: center;
    }

    #LemWeddingAisle div[class="col-md-5"] figure {
        margin: auto;  
        margin-top:10px;
        width: 300px;
    }

        #LemWeddingAisle div[class="col-md-5"] figure:hover {
            width:600px;
        }


    #LemWeddingAisle div[class="col-md-5"]  img {
        border: 20px solid white; 
    }

    #LemWeddingAisle div[class="col-md-7"] figure {
        margin: auto;  
        /*width:100%;*/
    }

    #LemWeddingAisle figure {
        /*overflow: hidden;
        width:600px;*/
    } 
/*
    ********** Grape Trellis slide **********
*/
#GrapeTrellis {
    background: -webkit-radial-gradient(farthest-side at 75% 50%, lightyellow 30%, lightgreen );
    background: radial-gradient(farthest-side at 75% 60%, lightyellow 30%, lightgreen );
}

#GrapeTrellis h2 {
        color: green; 
        text-align: center; 
        margin-top: 280px;
    }

    #GrapeTrellis p {
        width: 500px;
        text-align: center;
        margin-left: 150px;
        margin-top: 50px;
    }

    #GrapeTrellis .fallingPecan {
        width: 20px;
        height: 12px;
        position: absolute;
        top: -100px;
        right: 400px;
        background-image: url('../Images/pecan_20.png');
        -webkit-animation: pecanFall 2s ease-in 1s infinite;
        animation: pecanFall 2s ease-in 1s infinite;
    }



    #GrapeTrellis div:nth-child(3) {
        width: 20px;
        height: 12px;
        position: absolute;
        top: -100px;
        right: 400px;
        -webkit-animation: pecanFall 2s ease-in 1s infinite;
        animation: pecanFall 2s ease-in 1s infinite;
    }

    #GrapeTrellis div:nth-child(4) {
        width: 20px;
        height: 12px;
        position: absolute;
        top: -100px;
        right: 100px;
        -webkit-animation: pecanFall 2s ease-in 2s infinite;
        animation: pecanFall 2s ease-in 2s infinite;
    }

    #GrapeTrellis div:nth-child(5) {
        width: 20px;
        height: 12px;
        position: absolute;
        top: -100px;
        right: 300px;
        -webkit-animation: pecanFall 2s ease-in 3s infinite;
        animation: pecanFall 2s ease-in 3s infinite;
    }

    #GrapeTrellis div:nth-child(6) {
        width: 20px;
        height: 12px;
        position: absolute;
        top: -100px;
        right: 500px;
        -webkit-animation: pecanFall 2s ease-in 4s infinite;
        animation: pecanFall 2s ease-in 4s infinite;
    }

    #GrapeTrellis div:nth-child(7) {
        width: 20px;
        height: 12px;
        position: absolute;
        top: -100px;
        right: 600px;
        -webkit-animation: pecanFall 2s ease-in 5s infinite;
        animation: pecanFall 2s ease-in 5s infinite;
    }

    #GrapeTrellis div:nth-child(8) {
        width: 20px;
        height: 12px;
        position: absolute;
        top: -100px;
        right: 600px;
        -webkit-animation: pecanFall 2s ease-in 6s infinite;
        animation: pecanFall 2s ease-in 6s infinite;
    }

    #GrapeTrellis .fallingPecan img {
        box-shadow: none;
    }


@keyframes pecanFall {
    0% {
        top: -100px;
    }

    100% {
        top: 900px;
    }
}
/*
    ***** Hyacinth Bean Slide ************
*/

#HyacinthBean {
    background: -webkit-radial-gradient( closest-side at 15% 55%, lightyellow 75%, lightgreen,purple);
    background: radial-gradient( closest-side at 15% 55%, lightyellow 75%, lightgreen,purple);
}

    #HyacinthBean h2 {
        color: white;
        font-family: 'Comic Sans MS';
        text-align: center;
    }

    #HyacinthBean p {
        margin-left: 175px;
        margin-top: 110px;
        width: 180px;
    }
    /*
        ***** The Way In Slide ********
    */

#TheWayIn h2 {
    color: white;
    font-family: 'Comic Sans MS';
    text-align: center;
}

#TheWayIn p {
    margin-top: 40px;
}
/*
    **** Sneak In Slide *******
*/

#SneakIn  h2 { 
    text-align: center;
}

    #SneakIn figure {
        transform: rotate(45deg);
        margin-top: 80px;
        margin-right:35px;
    }

    #SneakIn p {
        margin-right: 40px;
        margin-top: 35px;
    }
/*
    ******* Good Warm Food Slide *******
*/

#GoodWarmFood {
    background: -webkit-radial-gradient(farthest-side at 25% 50%, lightyellow 37%, lightgreen);
    background: radial-gradient(farthest-side at 25% 50%, lightyellow 37%, lightgreen);
}


    #GoodWarmFood h2 {
        color: green;
        font-family: 'Comic Sans MS';
        text-align: center;
    }

    #GoodWarmFood p {
        margin: auto;
        margin-top: 10px; 
    }

        #GoodWarmFood p:first-of-type {
            margin-top: 60px;
        }

        #GoodWarmFood div[class="row"] > figure  {
    position: absolute;
    bottom: 10px;
    left: 40px;
    width: 181px;
    opacity:0;
    -webkit-animation: appearing 5s ease-in-out 0s 1 reverse;
    animation: appearing 5s ease-in-out 0s 1 reverse;
}

        #ZutsFoodComment {
    border: 20px solid grey; 
    width:280px;
    padding: 10px;
    font-family: 'Comic Sans MS';
    font-size: smaller;
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
    background-color: palegoldenrod;
    position:absolute;
    left:40px;
    bottom:140px;
    margin-left: 220px;
    z-index: 100;
}
    
    /*
        ***** Good Hiding Slide *******
    */
    #GoodHiding h2 { 
    text-align: center;
}

#GoodHiding p {
    margin-top: 20px;
}
/*
    ******* I Spy Slide *******
*/

#ISpy div[class="col-md-6"]:first-child {
    height: 800px;
    background: -webkit-radial-gradient( closest-side at 50% 30%, lightyellow 75%, lightgreen, lightyellow 10%,green);
    background: radial-gradient( closest-side at 50% 30%, lightyellow 75%, lightgreen, lightyellow 10%,green);
}

#ISpy div[class="col-md-6"]:last-child {
    height: 800px;
    background: -webkit-linear-gradient(left,lightyellow 75%,green );
    background: linear-gradient(left,lightyellow 75%,green );
}


#ISpy h2 {
    font-family: 'Comic Sans MS';
    text-align: center;
}

#ISpy p {
    width:300px;
    margin:auto;
    margin-top:50px;
}

#ISpy #imSpyingonaDangerousFOE {
    width: 211px;
    margin: auto;
    margin-top: 100px;
}

#ISpy #imWATCHING {
    width: 181px;
    height: 200px;
    position: absolute;
    right: 120px;
    bottom: 120px;
    overflow: hidden;
    -webkit-animation: squirrelTitle 5s ease-in-out 0s 1;
    animation: squirrelTitle 5s ease-in-out 0s 1;
}
/*
***** CameraCamper Slide *****  
*/
#CameraCamper h2 {
    font-family: 'Comic Sans MS';
    text-align: center;
    margin-top: 0px;
    z-index: 0;
}

#CameraCamper p {
    font-style: italic;
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 0px;
    z-index: 0;
}


@keyframes camper {
    0% {
        margin-top: 50px;
    }

    100% {
        margin-top: 0px;
    }
}

#CameraCamper figure {
    width: 100%;
    padding-top: 0px;
    z-index: 100;
    -webkit-animation: camper 5s ease-out;
    animation: camper 5s ease-out;
}
/*
    ***** MoreForTheMenu Slide
*/

#MoreForTheMenu div[class="col-md-6"]:first-child {
    background: -webkit-linear-gradient(left,lightyellow 75%,green );
    background: linear-gradient(left,lightyellow 75%,green );
    height: 800px;
}

#MoreForTheMenu div[class="col-md-6"]:last-child {
    background: -webkit-linear-gradient(left,lightyellow 75%,green );
    background: linear-gradient(left,lightyellow 75%,green );
}


#MoreForTheMenu h2 {
    margin-left: 50px;
    text-align: left;
}

#MoreForTheMenu figure {
    width: 620px;
    margin: auto;
    margin-top: 150px;
}


#MoreForTheMenu p {
    margin: 50px 50px;
    width: 600px;
}

    #MoreForTheMenu p:first-of-type {
        margin-top: 90px;
    }
    /*
        ***** MYNewestGarden Slide *****
    */

#MYNewestGarden div[class="col-md-6"]:first-child {
    height: 800px;
    background: -webkit-radial-gradient( closest-side at 50% 50%, lightyellow 75%, lightgreen, lightyellow 10%,green);
    background: radial-gradient( closest-side at 50% 50%, lightyellow 75%, lightgreen,lightyellow 10%,green);
}

#MYNewestGarden div[class="col-md-6"]:last-child {
    height: 800px;
    background: -webkit-radial-gradient( closest-side at 50% 50%, lightyellow 75%, lightgreen,purple,lightyellow 10%,green);
    background: radial-gradient( closest-side at 50% 50%, lightyellow 75%, lightgreen,purple,lightyellow 10%,green);
}

#MYNewestGarden h2 {
    font-family: 'Comic Sans MS';
    text-align: center;
    margin-top: 120px;
    color: green;
}

#MYNewestGarden figure {
    width: 500px;
    margin-top: 200px;
    margin-left: 125px;
}

#MYNewestGarden p {
    width: 400px;
    margin: auto;
    margin-top: 20px;
}
/*
    ***** LookOutForCroquetBalls *****
*/

#LookOutForCroquetBalls h2 {
    font-family: 'Comic Sans MS';
    text-align: center;
}

#LookOutForCroquetBalls p{
    margin:auto;
    width:600px;
    margin-top:20px;
}

#LookOutForCroquetBalls figure {
    width: 100%;
}

.croquetBall {
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50px;
    position: absolute;
    top: 150px;
    z-index: 100;
    opacity: 0;
    -webkit-animation: croquet 2s ease-in-out 1s 1;
    animation: croquet 2s ease-in-out 1s 1;
}

.croquetBall1 {
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50px;
    position: absolute;
    top: 300px;
    z-index: 100;
    opacity: 0;
    -webkit-animation: croquet 3s ease-in-out 2s 1 reverse;
    animation: croquet 3s ease-in-out 2s 1 reverse;
}

.croquetBall2 {
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50px;
    position: absolute;
    top: 450px;
    z-index: 100;
    opacity: 0;
    -webkit-animation: croquet 1s ease-in-out 3s 1;
    animation: croquet 1s ease-in-out 3s 1;
}

.bluestripe {
    height: 100px;
    width: 20px;
    background-color: blue;
    margin: auto;
}

.greenstripe {
    height: 100px;
    width: 20px;
    background-color: green;
    margin: auto;
}

.redstripe {
    height: 100px;
    width: 20px;
    background-color: red;
    margin: auto;
}

@keyframes croquet {
    0% {
        left: -200px;
        padding-left: 0;
        margin-left: 0;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 0;
    }

    1% {
        left: -200px;
        opacity: 1;
        padding-left: 0;
        margin-left: 0;
    }

    99% {
        transform: rotate(270deg);
        left: 1600px;
        opacity: 1;
        padding-right: 0;
        margin-right: 0;
    }

    100% {
        /*transform: rotate(2deg);*/
        left: 1600px;
        opacity: 0;
        padding-right: 0;
        margin-right: 0;
    }
}
/*
    ***** IntoTheBoxwoods Slide *****
*/

#IntoTheBoxwoods {
    background: -webkit-linear-gradient( rgba(255,0,0,0), rgba(0,255,0,1));
    background: linear-gradient( rgba(255,0,0,0), rgba(0,255,0,1));
}

    #IntoTheBoxwoods h2 {
        font-family: 'Comic Sans MS';
        text-align: center;
        color: green;
    }

    #IntoTheBoxwoods div[class="col-md-3"]:first-child p {
        width: 220px;
        margin-left: 75px;
    }

    #IntoTheBoxwoods div[class="col-md-3"]:first-child figure {
        width: 112px;
        margin-top: 200px;
    }

        #IntoTheBoxwoods div[class="col-md-3"]:first-child figure img {
            box-shadow: none;
            opacity: 0;
            animation: bijou 2s ease 4s 1;
        }

@keyframes bijou {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#IntoTheBoxwoods [class="col-md-3"]:nth-child(2) figure {
    margin-top: 100px;
}


#IntoTheBoxwoods div[class="col-md-3"]:nth-last-child(2) {
    margin-top: 200px;
    margin-left: 120px;
    width: 260px;
    padding-left: 0;
    padding-right: 0;
}


#IntoTheBoxwoods div[class="col-md-3"]:last-child {
    margin-top: 100px;
    margin-left: 100px;
    width: 220px;
}

#Water {
    background: -webkit-linear-gradient(lightblue,lightgreen 50%,darkblue);
    background: linear-gradient(lightblue,lightgreen 50%,darkblue);
}

    #Water h2 {
        text-align: center;
        color: blue;
    }

    #Water figure {
        width: 500px;
        margin: 100px;
        margin-top: 150px;
    }

    #Water img {
        margin: 10px;
    }

    #Water p {
        margin-top: 8px;
    }

#MoreDeliciousPlants {
    background: -webkit-linear-gradient(lightblue,lightgreen, brown);
    background: linear-gradient(lightblue,lightgreen, brown);
}

    #MoreDeliciousPlants h2 {
        text-align: center;
    }

    #MoreDeliciousPlants figure {
        width: 600px;
        margin-top: 150px;
    }

/*#LookAtMe {
    margin: 0;
    padding: 0;
}*/

#LookAtMe h2 {
    text-align: center;
}

#LookAtMe figure, #LookAtMe img {
    margin: 0;
    padding: 0;
}
