#home h1 {
    color: green;
    margin-left: 20px;
}

#home div[class="col-md-6 margin10"] > div {
    border: 20px solid grey;
    width: 500px;
    padding: 10px;
    font-family: 'Comic Sans MS'; 
    transform: rotate(-1deg);
    background-color: palegoldenrod;
    margin-left: 220px;
    z-index: 100;
}

    #home div[class="col-md-6 margin10"] > div p:first-letter {
        font-size: larger;
        font-weight: 700;
    }
    /* note from Deuels*/
div#home div[class="col-md-5"] p {
    font-family: 'Lucida Calligraphy';
}
/* 
    Squirrel's Tour of the Gardens, general stuff 
*/
.carousel-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#ZutsGardenCarousel {
    height: 712px;
    overflow: hidden;
}

.carousel-control {
    z-index: 100;
}

.item, .GardenCarousel {
    width: 100%;
    background-color: lightgreen;
    font-family: 'Comic Sans MS';
    font-size: larger;
    height: 712px;
}

#SquirrelTour h1 {
    font-family: 'Comic Sans MS';
     text-align: center;
}

#SquirrelTour h2 {
    font-family: 'Comic Sans MS';
    font-size: 1.5em;
    color: darkgreen;
    text-align: center;
}

#SquirrelTour figure {
    width: 100%;
    margin: 0;
    padding: 0;
}

#SquirrelTour img {
    overflow: hidden;
    box-shadow: none;
}

#SquirrelTour p, #SquirrelTour h3 {
    font-family: 'Comic Sans MS';
    font-size: 1.17em;
    margin: auto;
    text-align: center;
}

#SquirrelTour p {
    width: 80%; 
    margin-top: 1%;
}

    #SquirrelTour p:first-letter {
        font-size: larger;
        font-weight: 700;
    }
/* 
 ******** Squirrel Tour Title Tab ******
*/


#SquirrelTourTitle {
    text-align: left;
    margin: 0;
    padding: 0;
    background-color: white;
    background-image: url('../Images/Gardens/SquirrelGardenTour/BHM_BW_1611.JPG');
}
  /* Zuts*/
    #SquirrelTourTitle figure {
        position: absolute;
        bottom: 5%;
        left:30%;
        width: 181px;
    }

    #SquirrelTourTitle h1 {
        color: green;
        text-align: left;
        margin-top: 45px;
        margin-left: 100px;
        font-size: 50px;
        text-shadow: 0 0 10px white, 0 0 30px green, 0 0 50px lightgreen;
        animation: squirreltourTitle 9s 1s infinite;
    }

    #SquirrelTourTitle h2 { 
        text-align: left;
        margin-left: 100px;
        margin-top: 75px;
        width: 600px;
    }


@keyframes squirreltourTitle {
    0% {
        font-size: 50px;
    }

    100% {
        font-size: 60px;
    }
}
 /*

***** Cardoon Slide *****
 */
  
    #cardoon h2 { 
        padding-top: 10%; 
        animation: cardoon 5s 1s infinite;
    }
       
    #cardoon div[class="col-sm-7"] {
        text-align: center;
        height: 800px;
        background: radial-gradient( lightyellow, white, lightgreen);
    }

    
      #cardoon p {
          margin-top:10%;
      }
  

@keyframes cardoon {
    0%,100% {
        color: darkgreen;
    }

    50% {
        color: mediumpurple;
    }
}
/*
 ***   Easy Access Tab ************************
*/


#EasyAccess { 
    background: radial-gradient(closest-side at 25% 50%, lightyellow 80%, lightgreen);
    margin: 0;
    padding: 0;
}

#EasyAccess h2 {
    margin-top:7%;
}

#EasyAccess p {
    margin-top:4%;
}

    #EasyAccess figure, #EasyAccess img {
        margin: 0;
        padding: 0;
        background-image: url('../Images/Gardens/SquirrelGardenTour/ClipArtSquirrel.png');
    }
 
/*
    ***** Foxglove *****
*/ 
#Foxglove h2 {
    margin-top: 5%;
    margin-bottom: 2%;
    color: purple;
    animation: foxgloveh2 5s 1s infinite;
}

#Foxglove p {
    margin-top: 6%; 
}
 
#Foxglove>div>div:first-child      {  
    background: radial-gradient( lightyellow 75% , lightgreen); 
   height:800px; 
}


/* Zuts*/
#Foxglove div[class="row"] > figure {
    position: absolute;
    bottom: 1%;
    left: 25%;
    width: 181px; 
    animation: squirrelTitle 5s ease-in-out 0s infinite;
}

@keyframes foxgloveh2 {
    0%,100% {
        color: darkgreen;
    }

    50% {
        color: purple;
    }
}

/*
    ***** Grape Arbor Slide *****
*/ 
#GrapeArbor {
    background: -webkit-radial-gradient(closest-side at 50% 50%, lightyellow 75%, lightgreen);
    background: radial-gradient(closest-side at 50% 50%, lightyellow 75%, lightgreen);
    height: 800px;
    z-index:10; /* we have cat anim. on next slide */
}
  
    #GrapeArbor p {
        width:90%; 
    }
/*
    ***** BigKitchenGardens Slide
*/

#BigKitchenGardens div[class="col-md-4"] {
    height: 800px;
    background: radial-gradient( lightyellow 40%, lightgreen);
}
 
#BigKitchenGardens h2 { 
    margin-top: 10%; 
}

#BigKitchenGardens p {
    margin-top:8%;
    width:50%;
}

#BigKitchenGardens figure {
    margin: 0 ; 
    padding: 0;
}

#BigKitchenGardens div[class="row"] > figure:first-of-type {
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 181px;
    opacity: 0; 
    animation: appearing 5s ease-in-out 0s 1 reverse;
}

#BigKitchenGardens div[class="row"] > figure:last-child {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    opacity: 0; 
    animation: BkgEntering 5s ease-in-out 0s 1;
    z-index:1;
}

@keyframes appearing {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes BkgEntering {
    0% {
        left: -5%;
        opacity:0;
    }
    5%{
        opacity:1;
    }

    100% {
        left: 0px;
        opacity:1;
    }
}

/*
 ********  LemWeddingAisle **************
*/
#LemWeddingAisle {
    background:linear-gradient(white,lightgreen);
}

#LemWeddingAisle div[class="col-md-4"] p {
    width: 80%;
    margin: auto;
    margin-top: 10%;
}

#LemWeddingAisle div[class="col-md-4"] p:last-of-type {
    border: 20px solid grey;
    width: 80%;
    padding: 10px; 
    transform: rotate(-5deg);
    background-color: palegoldenrod;
}

#LemWeddingAisle h2 {
    color: green;
    text-align: center;
}

#LemWeddingAisle div[class="col-md-8"] {
    height: 800px;
}

    #LemWeddingAisle div[class="col-md-8"] figure:first-of-type {
        position: absolute;
        top: 0;
        left: 0;
        width: 55%;
        margin-left: 1%;
    }

        #LemWeddingAisle div[class="col-md-8"] figure:first-of-type:hover {
            width: 100%;
            z-index: 100;
            margin: 0;
        }

    #LemWeddingAisle div[class="col-md-8"] figure:last-of-type {
        position: absolute;
        right: 1%;
        top:40%;
        z-index: 1;
        width: 55%;
        padding: 1%;
    }
        #LemWeddingAisle div[class="col-md-8"] figure:last-of-type img {
            border: 10px solid  silver;
        }


        #LemWeddingAisle div[class="col-md-8"] figure:last-of-type:hover {
            z-index: 100;
            width: 100%;
            right:0;
            margin: 0;
            padding:0;
             top:0;
        }


/*
    ********** Grape Trellis slide **********
*/
#GrapeTrellis {
    background: -webkit-radial-gradient(farthest-side at 75% 50%, lightyellow 30%, lightgreen );
    background: radial-gradient(farthest-side at 75% 60%, lightyellow 30%, lightgreen );
}

    #GrapeTrellis h2 { 
        margin-top: 35%; 
    }

    #GrapeTrellis p { 
        margin-top: 10%; 
    }

    #GrapeTrellis .fallingPecan {
        width: 20px;
        height: 12px;
        position: absolute;
        top: -100px;
        right: 400px;
        background-image: url('../Images/pecan_20.png'); 
        animation: pecanFall 2s ease-in 1s infinite;
    }



    #GrapeTrellis div:nth-child(3) {
        width: 20px;
        height: 12px;
        position: absolute;
        top: -100px;
        right: 400px;         
        animation: pecanFall 2s ease-in 1s infinite;
    }

    #GrapeTrellis div:nth-child(4) {
        width: 20px;
        height: 12px;
        position: absolute;
        top: -100px;
        right: 100px; 
        animation: pecanFall 2s ease-in 2s infinite;
    }

    #GrapeTrellis div:nth-child(5) {
        width: 20px;
        height: 12px;
        position: absolute;
        top: -100px;
        right: 300px; 
        animation: pecanFall 2s ease-in 3s infinite;
    }

    #GrapeTrellis div:nth-child(6) {
        width: 20px;
        height: 12px;
        position: absolute;
        top: -100px;
        right: 500px; 
        animation: pecanFall 2s ease-in 4s infinite;
    }

    #GrapeTrellis div:nth-child(7) {
        width: 20px;
        height: 12px;
        position: absolute;
        top: -100px;
        right: 600px; 
        animation: pecanFall 2s ease-in 5s infinite;
    }

    #GrapeTrellis div:nth-child(8) {
        width: 20px;
        height: 12px;
        position: absolute;
        top: -100px;
        right: 600px;  
        animation: pecanFall 2s ease-in 6s infinite;
    }

    #GrapeTrellis .fallingPecan img {
        box-shadow: none;
    }


@keyframes pecanFall {
    0% {
        top: -100px;
    }

    100% {
        top: 900px;
    }
}
/*
    ***** Hyacinth Bean Slide ************
*/

#HyacinthBean {
    background: -webkit-radial-gradient( closest-side at 15% 55%, lightyellow 75%, lightgreen,purple);
    background: radial-gradient( closest-side at 15% 55%, lightyellow 75%, lightgreen,purple);
}

    #HyacinthBean h2 {
        color: white; 
    }

    #HyacinthBean p { 
        margin-top: 35%;
        width: 50%;
    }
/*
        ***** The Way In Slide ********
 */
 /* just a placeholder for Large */
/*
    **** Sneak In Slide *******
*/
 

#SneakIn figure {
    transform: rotate(45deg); 
}
 
/*
    ******* Good Warm Food Slide *******
*/

#GoodWarmFood {
    background: -webkit-radial-gradient(farthest-side at 25% 50%, lightyellow 37%, lightgreen);
    background: radial-gradient(farthest-side at 25% 50%, lightyellow 37%, lightgreen);
} 
       
        /* Zuts*/
    #GoodWarmFood div[class="row"] > figure {
        position: absolute;
        bottom: 1%;
        left: 3%;
        width: 181px;
        opacity: 0; 
        animation: appearing 5s ease-in-out 0s 1 reverse;
    }

#ZutsFoodComment {
    border: 20px solid grey;
    width: 20%;
    padding: 10px;  
    transform: rotate(-10deg);
    background-color: palegoldenrod;
    position: absolute;
    left: 17%;
    bottom: 10%; 
    z-index: 100;
}

/*
        ***** Good Hiding Slide *******
    */ 

#GoodHiding p {
    width: 90%; 
}

/*
    ******* I Spy Slide *******
*/

#ISpy div[class="col-md-6"]:first-child {
    height: 800px;
    background: -moz-radial-gradient( closest-side at 50% 50%, lightyellow 75%, lightgreen, lightyellow 10%,green);
    background: -webkit-radial-gradient( closest-side at 50% 50%, lightyellow 75%, lightgreen, lightyellow 10%,green);
    background: radial-gradient( closest-side at 50% 50%, lightyellow 75%, lightgreen, lightyellow 10%,green);
}

    #ISpy div[class="col-md-6"]:first-child figure { 
        width:50%;
        margin: auto; 
        margin-top: 15%;
    }


#ISpy div[class="col-md-6"]:last-child {
    height: 800px;
}
      /* Zuts */
    #ISpy div[class="col-md-6"]:last-child figure:first-of-type {
        width: 181px;
        height: 200px;
        position: absolute;
        right: 10%;
        bottom: 30%;
        overflow: hidden; 
        animation: ISpySquirrel 8s ease-in-out 0s 1;
        opacity: 0;
    }

    #ISpy div[class="col-md-6"]:last-child figure:last-of-type img {
        width: 150px;
        position: absolute;
        left: 10%;
        bottom: 30%;
        overflow: hidden;
        opacity: 0;
        animation: ISpyTelescope 8s 0s linear 1;
    }
 
 

@keyframes ISpySquirrel {
    0%, 100% {
        opacity: 1;
    }
}

@keyframes ISpyTelescope {
    0% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*
***** CameraCamper Slide *****  
*/

#CameraCamper p {
    font-style: italic;
    font-size: large;
     margin-top:10%; 
}

/*
    ***** MoreForTheMenu Slide *****
*/

#MoreForTheMenu div[class="col-md-6"]:first-child {
    background: -webkit-radial-gradient( closest-side at 50% 50%, lightyellow 75%, lightgreen, lightyellow 10%,green);
    background: radial-gradient( closest-side at 50% 50%, lightyellow 75%, lightgreen,lightyellow 10%,green);
    height: 800px;
}

#MoreForTheMenu div[class="col-md-6"]:last-child {
    background: -webkit-radial-gradient( closest-side at 50% 50%, lightyellow 75%, lightgreen, lightyellow 10%,green);
    background: radial-gradient( closest-side at 50% 50%, lightyellow 75%, lightgreen,lightyellow 10%,green);
    height: 800px;
}


    #MoreForTheMenu div[class="col-md-6"]:last-child h2 {
        margin-top: 20%; 
    }

#MoreForTheMenu figure {
    width: 80%;   
    margin:auto;
    margin-top: 30%;

}

#MoreForTheMenu p {
    width: 70%; 
    margin-top: 4%;
}

    #MoreForTheMenu p:first-of-type {
        width: 65%; 
    }

    #MoreForTheMenu p:last-of-type {
        width: 65%; 
    }

/*
        ***** MYNewestGarden Slide *****
    */

#MYNewestGarden div[class="col-md-6"]:first-child {
    height: 800px;
    background: -webkit-radial-gradient( closest-side at 50% 50%, lightyellow 75%, lightgreen, lightyellow 10%,green);
    background: radial-gradient( closest-side at 50% 50%, lightyellow 75%, lightgreen,lightyellow 10%,green);
}

#MYNewestGarden div[class="col-md-6"]:last-child {
    height: 800px;
    background: -webkit-radial-gradient( closest-side at 50% 50%, lightyellow 75%, lightgreen,lightyellow 10%,green);
    background: radial-gradient( closest-side at 50% 50%, lightyellow 75%, lightgreen,lightyellow 10%,green);
}

#MYNewestGarden h2 { 
    margin-top: 15%; 
}

#MYNewestGarden figure {
    width: 80%;
    margin:auto;
    margin-top: 5%; 
}

#MYNewestGarden p {
    border: 20px solid grey;  
    transform: rotate(-2deg);
    background-color: palegoldenrod; 
    margin-top: 20%;  
}
/*
    ***** LookOutForCroquetBalls Slide *****
*/

#LookOutForCroquetBalls h2 {
    font-family: 'Comic Sans MS';
    text-align: center;
}

#LookOutForCroquetBalls p {
    margin: auto;
    width: 90%;
}

.croquetBallBlue {
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50px;
    position: absolute;
    top: 105%;
    z-index: 0;
    opacity: 0; 
    animation: croquet 2s ease-in-out 1s infinite;
}

.croquetBallGreen {
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50px;
    position: absolute;
    top: 100%;
    z-index: 0;
    opacity: 0; 
    animation: croquet 3s ease-in-out 2s infinite reverse;
}

.croquetBallRed {
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50px;
    position: absolute;
    top: 110%;
    z-index: 0;
    opacity: 0; 
    animation: croquet 4s ease-in-out 2s infinite;
}

.bluestripe {
    height: 100px;
    width: 20px;
    background-color: blue;
    margin: auto;
    z-index: 1;
}

.greenstripe {
    height: 100px;
    width: 20px;
    background-color: green;
    margin: auto;
    z-index: 1;
}

.redstripe {
    height: 100px;
    width: 20px;
    background-color: red;
    margin: auto;
}

@keyframes croquet {
    0% {
        left: -200px;
        padding-left: 0;
        margin-left: 0; 
        transform: rotate(0deg);
        opacity: 0;
    }

    1% {
        left: -200px;
        opacity: 1;
        padding-left: 0;
        margin-left: 0;
    }

    99% {
        transform: rotate(270deg);
        left: 1600px;
        opacity: 1;
        padding-right: 0;
        margin-right: 0;
    }

    100% { 
        left: 1600px;
        opacity: 0;
        padding-right: 0;
        margin-right: 0;
    }
}
/*
    ***** IntoTheBoxwoods Slide *****
*/
 
    #IntoTheBoxwoods div[class="col-md-4"] div[class="col-md-8"] figure img {
        opacity: 0;
        width: 300px;
        animation: BoxwoodBijou 5s ease-in-out 4s infinite;
    }

    #IntoTheBoxwoods div[class="col-md-4"] div[class="col-md-4"] figure img {
        animation: BoxwoodBijou 7s ease-in-out 0s infinite;
        opacity: 1;
    }

@keyframes BoxwoodBijou {
    0%, 100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}


/*
    ***** Water Slide *****  
*/

#Water {
    background: -webkit-linear-gradient(lightblue,lightgreen 50%,darkblue);
    background: linear-gradient(lightblue,lightgreen 50%,darkblue);
}

    #Water h2 { 
        color: blue;
    }
 

    #Water img {
        margin: 1%;
    }
     

        #Water p:last-of-type {
            border: 20px solid grey;
            width: 80%;
            padding: 10px; 
            transform: rotate(-4deg);
            background-color: palegoldenrod;
            margin-top:5%;
        }
/*
        ***** MoreDeliciousPlants Slide *****
    */
#MoreDeliciousPlants {
    background: -webkit-linear-gradient(lightblue,lightgreen );
    background: linear-gradient(lightblue,lightgreen );
    text-align: center;
}

    #MoreDeliciousPlants p {
        margin: auto;
        margin-bottom: 5%;
        width: 90%;
    }

        #MoreDeliciousPlants p:last-of-type {
            border: 20px solid grey;
            width: 80%;
            padding: 10px; 
            transform: rotate(-5deg);
            background-color: palegoldenrod;
        }

    #MoreDeliciousPlants div[class="col-md-4"] figure {
        width: 181px;
    }

    #MoreDeliciousPlants div[class="col-md-8"] {
        height: 800px;
    }

        #MoreDeliciousPlants div[class="col-md-8"] figure:first-of-type {
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            margin-left: 1%;
        }

            #MoreDeliciousPlants div[class="col-md-8"] figure:first-of-type:hover {
                width: 100%;
                z-index: 100;
                margin: 0;
            }

        #MoreDeliciousPlants div[class="col-md-8"] figure:last-of-type {
            position: absolute;
            right: 0;
            bottom: 0%;
            z-index: 1;
            width: 55%;
            padding: 1%;
        }

            #MoreDeliciousPlants div[class="col-md-8"] figure:last-of-type:hover {
                z-index: 100;
                width: 100%;
                margin: 0;
            }


/* 
    ***** LookAtMe Slide *****  
 */

#LookAtMe h2 {
    text-align: center;
}

#LookAtMe figure, #LookAtMe img {
    margin: 0;
    padding: 0;
}

#LookAtMe p {
     
    margin-top: 10%; 
}
