h1{
    color:green; 
}

.item, .GardenCarousel {
    width: 100%;
    height: 800px;
    background-color: lightgreen;
    font-family: 'Comic Sans MS';
    font-size: larger;
}

#ZutsNote {
    border: 20px solid grey;
    width: 400px;
    padding: 10px;
    font-family: 'Comic Sans MS';
    font-size: larger;
    transform: rotate(-20deg);
    background-color: palegoldenrod;
    margin-left: 100px;
}

#Deuel {
    font-family: 'Lucida Calligraphy';
}

#SquirrelTour h2 {
    font-family:'Comic Sans MS';
    color:white;
    text-align:center;
}

#SquirrelTour p {
     font-family:'Comic Sans MS';
}

#SquirrelTour p:first-letter{
    font-size:larger;
    font-weight:700;
}
 
#SquirrelTourTitle {
    
    text-align: center;
    height: 800px;
    background: radial-gradient(lightyellow 50%, lightgreen, green);
}

    #SquirrelTourTitle h1 {
        font-family: 'Comic Sans MS';
        padding-top: 150px;
        animation: sqtth1 3s 1s infinite;
    }

@keyframes sqtth1 {
    0%,100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    75% {
        transform: rotate(-5deg);
    }
}


#SquirrelTourTitle h3, #SquirrelTour p {
    margin: 50px;
    margin-top: 100px;
    font-family: 'Comic Sans MS';
}

#SquirrelTour img {
    margin: 10px;
}

#sqWedPic {
    width: 269px;
}
  
#cardoon {
    background: -webkit-radial-gradient(60% 55%, closest-side, lightyellow, white, lightgreen); /* Safari 5.1 to 6.0 */
    background: -moz-radial-gradient(60% 55%, closest-side, lightyellow, white, lightgreen); /* For Firefox 3.6 to 15 */
    background: radial-gradient(closest-side at 60% 55%, lightyellow, white, lightgreen);
}

    #cardoon h2 {
        font-family: 'Comic Sans MS';
        text-align:left;
        margin-left:100px;
        color: darkgreen;
        padding-top: 100px;
        animation: cardoon 3s 1s infinite;
    }

    #cardoon figure {
        width: 341px;
        padding-top: 100px;
        margin-left: 50px;
    }

@keyframes cardoon {
    0%,100% {
        color: darkgreen;
    }

    50% {
        color: mediumpurple;
    }
}



#cardoon p {
    width: 450px;
   margin-top:50px;
}

#cardoon div[class="col-md-7"] p:nth-child(2) {
    margin-top:130px; 
}
    #cardoon p::first-letter {
        font-size: x-large;
    }

    #cardoon div[class="col-md-7"] p:nth-child(3) {
    width:600px; 
    margin-left:0px;
}

#EasyAccess {
    background: -webkit-radial-gradient(closest-side at 25% 50%, lightyellow 75%, lightgreen);
    background: -moz-radial-gradient(closest-side at 25% 50%, lightyellow 75%, lightgreen);
    background: radial-gradient(closest-side at 25% 50%, lightyellow 75%, lightgreen);
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans MS';
}

    

    #EasyAccess figure, #EasyAccess img {
        margin: 0;
        padding: 0;
    }

    

    #EasyAccess p  {
        margin-top: 100px;
        text-align: center;
        width: 475px;
        margin-left: 150px;
    }

#Foxglove p {
        margin-top: 45px;
        text-align: center;
        width: 475px;
        margin-left: 150px;
    }

#Foxglove figure {
    width: 213px;
    margin: auto;
    margin-top: 195px;
}

#Foxglove div[class^="col"] {
    background: -webkit-radial-gradient(closest-side at 50% 50%, lightyellow 75%, lightgreen);
    background: -moz-radial-gradient(closest-side at 50% 50%, lightyellow 75%, lightgreen);
    background: radial-gradient(closest-side at 50% 50%, lightyellow 75%, lightgreen);
    height: 800px;
}

#Foxglove h2 {
    text-align: center;
    margin-top: 110px;
    font-family: 'Comic Sans MS';
    color: purple;
}

#GrapeArbor {
    background: radial-gradient(closest-side at 50% 50%, lightyellow 75%, lightgreen);
    height: 800px;
}

    #GrapeArbor figure {
        width: 600px;
        text-align: center;
        margin-top: 0;
    }

    #GrapeArbor h2 {
        text-align: center;
        color: green;
        font-family: 'Comic Sans MS';
        margin-top: 100px;
        margin-bottom: 0;
    }

    #GrapeArbor p {
        margin-top: 10px;
    }

    #GrapeArbor div[class="col-md-3"]:first-child p {
        margin-top: 200px;
        margin-left: 180px;
        margin-right: 0px;
        width: 200px;
    }

    #GrapeArbor div[class="col-md-4"] p {
        margin-top: 180px;
        margin-left: 0px;
        margin-right: 0px;
        width: 200px;
    }

#BigKitchenGardens div[class="row"] div:first-child {
    background: radial-gradient(closest-side at 60% 50%, lightyellow 50%, lightgreen);
    height: 800px;
}

#BigKitchenGardens div[class="row"] div:last-child {
    background: lightgreen;
    height: 800px;
}

#BigKitchenGardens p {
    margin-left: 300px;
    width: 300px;
    font-family: 'Comic Sans MS';
    color: green;
}

   

#BigKitchenGardens h2 {
    margin-left: 300px;
    margin-top: 210px; 
    color:green;
}

#BigKitchenGardens figure {
    margin-top: 175px;
    padding: 0;
}

#LemWeddingAisle #ZutsNote {
    border: 20px solid grey;
    width: 600px;
    padding: 10px;
    font-family: 'Comic Sans MS';
    font-size: larger;
    transform: rotate(-20deg);
    background-color: palegoldenrod;
    margin-left: 100px;
    z-index: 100;
}

#LemWeddingAisle #ZutsNote p {
    margin-top:10px;
}

#LemWeddingAisle {
   
    background: radial-gradient(closest-side at 60% 50%, lightyellow 50%, lightgreen);
    height: 800px;
}

    #LemWeddingAisle h2, #GrapeTrellis h2 {
        color: green;
        font-family: 'Comic Sans MS';
        text-align: center;
    }

    #LemWeddingAisle figure {
        margin-top: 220px;
    }

    #LemWeddingAisle img {
        border: 20px solid white;
    }

#GrapeTrellis {
    background: radial-gradient(farthest-side at 75% 50%, lightyellow 30%, lightgreen 5%, lightyellow 20%, lightgreen 4%, lightyellow 10%, lightgreen 3%, lightyellow, lightgreen );
    height: 800px;
}

    #GrapeTrellis h2 {
        margin-top: 315px;
    }

    #GrapeTrellis p {
        width: 500px;
        text-align: center;
        margin-left: 150px;
        margin-top: 50px;
    }




#GoodWarmFood {
    height: 800px;
    animation-name: mymove;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes mymove {
    from {
        background: radial-gradient(closest-side at 60% 50%, lightyellow 50%, lightgreen);
    }

    to {
        background: radial-gradient(closest-side at 60% 50%, lightgreen 50%,lightyellow );
    }
}

#GoodWarmFood h2 {
    color: green;
    font-family: 'Comic Sans MS';
    text-align: center;
}

#GoodWarmFood figure {
    width: 600px;
    margin: auto;
}

#HyacinthBean {
    height: 800px;
    background: radial-gradient( closest-side at 15% 60%, lightyellow 75%, lightgreen,purple);
}

    #HyacinthBean h2 {
        color: white;
        font-family: 'Comic Sans MS';
        text-align: center;
    }

    #HyacinthBean p {
        margin-left: 180px;
        margin-top: 210px;
        width: 150px;
    }

#TheWayIn h2 {
    color: white;
    font-family: 'Comic Sans MS';
    text-align: center;
}

#TheWayIn p {
    margin-top: 40px;
}

#SneakIn, #GoodHiding h2 {
    font-family: 'Comic Sans MS';
    text-align: center;
}

#GoodHiding p {
    margin-top: 20px;
}

#ISpy div[class="col-md-6"]:first-child {
    height: 800px;
    background: radial-gradient( closest-side at 50% 30%, lightyellow 75%, lightgreen,purple,lightyellow 10%,green);
}

#ISpy div[class="col-md-6"]:last-child {
    height: 800px;
    background: linear-gradient(left,lightyellow 75%,green );

}


#ISpy h2 {
    font-family: 'Comic Sans MS';
    text-align: center;
}

#ISpy figure {
    width: 211px;
    margin: auto;
    margin-top: 100px;
}

#CameraCamper h2 {
    font-family: 'Comic Sans MS';
    text-align: center;
    margin-top:0px;
}

#CameraCamper p {
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 0px;
}

#CameraCamper figure {
    width: 100%; 
    padding-top: 0px;
}

#MoreForTheMenu div[class="col-md-6"]:first-child {
    background: linear-gradient(left,lightyellow 75%,green );  
    height:800px; 
}
#MoreForTheMenu div[class="col-md-6"]:last-child {
    background: linear-gradient(left,lightyellow 75%,green );
}


#MoreForTheMenu h2 {
    font-family: 'Comic Sans MS';
    text-align: center;
}

#MoreForTheMenu figure {
    width: 620px;
    margin: auto;
    margin-top:200px;  
}
 

#MoreForTheMenu p {
    margin-top:150px; 
}

#MYNewestGarden div[class="col-md-6"]:first-child {
     height: 800px;
    background: radial-gradient( closest-side at 50% 50%, lightyellow 75%, lightgreen,purple,lightyellow 10%,green); 
}
#MYNewestGarden div[class="col-md-6"]:last-child {
     height: 800px;
    background: radial-gradient( closest-side at 50% 50%, lightyellow 75%, lightgreen,purple,lightyellow 10%,green); 
}

#MYNewestGarden h2 {
    font-family: 'Comic Sans MS';
    text-align: center;
    margin-top:120px;
}

#MYNewestGarden figure {
    width:500px;
    margin-top:200px;
    margin-left:125px;
}

#MYNewestGarden p {
    width:300px;
    margin:auto;
    margin-top:20px;
}

#LookOutForCroquetBalls h2{
     font-family: 'Comic Sans MS';
    text-align: center;
}
#LookOutForCroquetBalls figure  {
    width:100%;
}

#IntoTheBoxwoods {
   background:linear-gradient(lightyellow,lightgreen, lightyellow,lightgreen,lightyellow,lightgreen)
}


#IntoTheBoxwoods h2 {
     font-family: 'Comic Sans MS';
    text-align: center;
}

#IntoTheBoxwoods figure {
    width:456px;
    margin-top:200px;
}
#IntoTheBoxwoods div[class="col-md-3"]:nth-last-child(2) {
    margin-top:500px;  
}


#IntoTheBoxwoods div[class="col-md-3"]:last-child {
    margin-top:100px; 
    margin-left:0px;
}

#Water {
    background:linear-gradient(lightblue,lightgreen 50%,darkblue);
}

#Water h2 {
     font-family: 'Comic Sans MS';
    text-align: center;
    color:blue;
}
#Water figure {
    width:500px;  
    margin:100px;
}
#Water img{ 
    margin:10px; 
}

#Water p {
    margin-top:8px;
}

#MoreDeliciousPlants {
      background:linear-gradient(lightblue,lightgreen , brown);
}

#MoreDeliciousPlants h2 {
     font-family: 'Comic Sans MS';
    text-align: center; 
}

#MoreDeliciousPlants  figure { 
    margin:0;
    padding:0;
}

#LookAtMe {
    margin:0;
    padding:0;
}

#LookAtMe h2 {
      font-family: 'Comic Sans MS';
    text-align: center; 
}
#LookAtMe figure {
    margin:0;
    padding:0;
}