body {
}


.zufeed:first-child {
    font-family: 'Comic Sans MS (25px)';
    color: red;
    display: none;
}

.zufeed:last-child {
    font-family: 'Comic Sans MS (25px)';
    color: green;
}
  
.quiz li:checked {
    color:red;
}

div.quiz li.right:checked {
    color:green;
}

.quiz li {
    list-style-type:none;
}