body {
}


.zufeed:first-child {
    font-family: 'Comic Sans MS (25px)';
    color: red;
    display: none;
}

.zufeed:last-child {
    font-family: 'Comic Sans MS (25px)';
    color: green;
}
  
.quiz li:checked {
    color:red;
}

div.quiz li.right:checked {
    color:green;
}

.quiz li {
    list-style-type:none;
}
.rightAnswer {
    color:green; 
    background-color:palegreen; 
}
 #KidsQuizTab h3 {
 font-family: 'Comic Sans MS' ;
    color:green;
 }

#KidsQuizTab .quiz>p {
    font-family:'Comic Sans MS';
    color:green;
    font-size:large;
    font-weight:bolder;
}