.fdlis {
     background-position: right bottom;
    background-image: url("../images/Weddings/Fleur-de-lis15slantSilver.png");
    background-repeat: repeat; 
}

.darkText {
    color:#036;
}

.porch    {
   text-shadow:1px 1px 10px 10px white;  
}
