
.fbSiteMap {
    display: flex;
    border: 1px solid black;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.siteButton {
    height:120px;
    width: 120px;
    margin: 25px;
    padding: 10px; 
    box-shadow: 3px 3px 3px #aaa;
}

.up {
    background-color: #036;
    color: white;
    border: 1px double black;
}

.soon {
    background-color: lightgray;
    border: 1px solid black;
}

.future {
    border: 1px dashed black;
}
